doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Github API
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    style.
      html, body{
      font-family: 'Ubuntu', sans-serif;
      background-color: lightblue;
      }
      #wrapper{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #box{
      background-color: white;
      box-shadow: 5px 5px grey;
      }
  body
    center
      .container
        #wrapper
          #box.row
            .col
              form(action='/userget', method='POST')
                .form-group
                  h1 Github Alley
                  br
                  input.form-control(name='user', placeholder='Enter Github Userid')
                  br
                  button.btn.btn-primary(type='submit') Check
              hr
              form(action='/userpost', method='POST')
                .form-group
                  h1 Findings
                  p Followers
                  input.form-control(name='followers', value=followers, placeholder='')
                  br
                  p Following
                  input.form-control(name='following', value='#{following}', placeholder='')
                  br
                  p Public Repos
                  input.form-control(name='public_repos', value='#{public_repos}', placeholder='')
                  br
                  button.btn.btn-success(type='submit') Push
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
